################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/secrets.json
/.vs
/bin/Debug/net9.0
/obj
